<mat-spinner *ngIf="!hunt" mode="indeterminate"></mat-spinner>

<app-hunt-summary *ngIf="isFinished() || isAvailable()" [hunt]="hunt"></app-hunt-summary>

<app-hunt-summary-panel *ngIf="isInProgress()" [hunt]="hunt"></app-hunt-summary-panel>

<mat-card *ngIf="isInProgress()">
  <mat-card-content>

    <markdown [data]="hunt.currentQuestionInstance.question.text">
    </markdown>

    <mat-card-subtitle>Hint: {{getHint()}}</mat-card-subtitle>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-input-container>
        <input matInput formControlName="answer" required type="text" placeholder="Answer">
      </mat-input-container>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button *ngIf="isInProgress()" color="primary" [disabled]="!form.valid || submitted" (click)="submit()">
      SUBMIT
    </button>

    <button mat-raised-button *ngIf="isAvailable()" color="primary" [disabled]="submitted" (click)="start()">START</button>

    <button mat-raised-button *ngIf="isInProgress()" color="accent" [disabled]="isHintUsed() || submitted" (click)="hint()">HINT</button>
    <button mat-raised-button *ngIf="isInProgress()" color="warn" [disabled]="submitted" (click)="skip()">SKIP</button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button class="start-button" *ngIf="isAvailable()" color="primary" [disabled]="submitted" (click)="start()">START</button>
