<div class="content" fxLayout="row" fxLayoutAlign="center">
  <mat-card elevation="5" fxFlex>
    <mat-card-subtitle>
      <h2>Join a Hunt</h2>
    </mat-card-subtitle>
    <mat-card-content>

      <app-ngx-zxing (scanCompleted)="readCompleted($event)" [cssClass]="'video-preview'" [start]="true"></app-ngx-zxing>
      <!-- <app-qr-scanner *ngIf="hasHttps" [updateTime]="500" (readCompleted)="readCompleted($event)">
      </app-qr-scanner> -->

      <form [formGroup]="form">
        <mat-input-container>
          <input matInput formControlName="hunt" placeholder="Hunt Share ID">
          <mat-error *ngIf="form.controls.hunt.hasError('required')">
            Hunt Share ID is
            <strong>required</strong>
          </mat-error>
        </mat-input-container>
        <button [disabled]="!form.valid" mat-raised-button color="primary" routerLink="/join/{{form.value.hunt}}">
          Join
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
