:host {
  display: block;
  .content {
    padding: 10px;
    button {
      display: block;
      margin: 10px auto;
    }
    .button-list {
      display: flex;
      justify-content: center;
      button {
        margin: 0 5px;
      }
    }
  }
}
