<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to ScavengerCity</mat-card-title>
    <mat-card-subtitle>abc</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section class="mat-typography">
      display-4, display-3, display-2 and display-1 - Large, one-off headers, usually at the top of the page (e.g. a hero header).
      <h1>headline - Section heading corresponding to the h1 tag.</h1>
      <h2>title - Section heading corresponding to the h2 tag.</h2>
      <h3>subheading-2 - Section heading corresponding to the h3 tag.</h3>
      <h4>subheading-1 - Section heading corresponding to the h4 tag.</h4>
      <p class="body-1">body-1 - Base body text.</p>
      <p class="body-2">body-2 - Bolder body text.</p>
      <div>
        <button routerLink="/hunts" mat-raised-button color="primary">
          View our scavenger hunts!
        </button>
      </div>
      <div>
        <button routerLink="/login" mat-raised-button color="primary">
          Login
        </button>
      </div>
      <div>
        <button routerLink="/signup" mat-raised-button color="primary">
          Sign Up
        </button>
      </div>
    </section>
  </mat-card-content>
</mat-card>
