<div class="content">
  <section class="mat-typography">
    <h1>Welcome to ScavengerCity</h1>

    <h2>Explore, Learn, Enjoy</h2>
    <p class="body-1">Our tailor-made scavenger hunts are made to take you around cities to explore the hidden gems you would normally miss
      out on.</p>

    <p class="body-1">This is done in the form of fun scavenger hunts, that force you to open your eyes, look around, think, and work together.</p>

    <button routerLink="/hunts" mat-raised-button color="primary">
      View Available Hunts
    </button>

    <h2>Get Started</h2>


    <span class="button-list">
      <button routerLink="/login" mat-raised-button color="primary">
        Login
      </button>
      <button routerLink="/signup" mat-raised-button color="primary">
        Sign Up
      </button>
    </span>
  </section>
</div>
