<mat-card>

  <mat-spinner *ngIf="!hunt" mode="indeterminate"></mat-spinner>

  <mat-card-header>
    <div mat-card class="example-header-image"></div>
    <mat-card-title>{{hunt?.name}}</mat-card-title>
    <mat-card-subtitle>{{hunt?.city}}, {{hunt?.country}}</mat-card-subtitle>
    <mat-card-subtitle>{{hunt?.distance}}km</mat-card-subtitle>

  </mat-card-header>

  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

  <mat-card-content>
    <p>
      {{hunt?.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!hasSignedIn()" (click)="purchase()">PURCHASE</button>
    <button *ngIf="!hasSignedIn()" mat-raised-button color="primary" routerLink="/login">LOGIN TO PURCHASE</button>
  </mat-card-actions>
</mat-card>


<button (click)="openCheckout()">Purchase</button>
