<div class="content" fxLayout="row" fxLayoutAlign="center">

  <mat-card elevation="5" fxFlex>

    <mat-card-subtitle>
      <h2>Login</h2>
    </mat-card-subtitle>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-input-container>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('required')">
            Email is
            <strong>required</strong>
          </mat-error>
        </mat-input-container>

        <mat-input-container>
          <input matInput formControlName="password" type="password" placeholder="Password">
          <mat-error *ngIf="form.controls.password.hasError('required')">
            Password is
            <strong>required</strong>
          </mat-error>
        </mat-input-container>
        <button type="submit" [disabled]="!form.valid || submitted" mat-raised-button color="primary">
          Login
          <mat-spinner *ngIf="submitted" mode="indeterminate" [diameter]="20"></mat-spinner>
        </button>
      </form>

      <p>Don't have an account?
        <button routerLink="/signup" mat-button color="primary">
          Sign Up
        </button>
      </p>

    </mat-card-content>
  </mat-card>
</div>
