@import "~theme_variables.scss";
:host {
  display: block;
  font-weight: 300;
  font-size: 15px;
  background-color: $primary;
  padding: 10px;
  text-align: center;
  p {
    margin: 0 auto;
    padding: 0;
    color: $primary-text;
    max-width: 365px;
  }
}
