:host {
  display: block;
  font-weight: 300;
  font-size: 15px;
  background-color: #3f51b5;
  padding: 24px;
  text-align: center;
  p {
    margin: 0 auto;
    padding: 0;
    color: white;
    max-width: 365px;
  }
}
